@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-raleway select-none tracking-wider font-semibold;
  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }
  p {
    @apply text-xs;
  }
  input,
  select,
  option,
  textarea,
  button {
    @apply focus:outline-none;
  }
}

@layer components {
  /* nabvar */
  .navbar {
    background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0.932));
    @apply fixed top-0 w-screen z-50 h-32 
    flex justify-between items-center;
  }
  .subtitle {
    @apply font-windsong text-right;
  }

  /* cart */
  .cart_dropdown_container {
    @apply absolute w-60 h-96 
    flex flex-col p-5 border border-gray-800 border-solid
    bg-white top-24 right-10 z-50;
  }
  .cart_itmes_container {
    @apply flex flex-col overflow-scroll h-60;
  }
  .empty_msg {
    @apply text-lg my-12 mx-auto;
  }
  .cartCount {
    @apply absolute -top-4 right-4 w-7 py-1
    text-sm text-white font-normal text-center
    bg-secondary rounded-full;
  }

  /* header */
  /* .header {
    @apply relative bg-hero-img bg-cover h-screen w-screen;
  } */

  /* ui */
  .error_notice {
    @apply flex justify-between items-center bg-red-200
    my-4 p-2 w-56
    border border-solid border-red-300 rounded-md;
  }
  .error_btn {
    @apply w-5 h-5 pb-3 text-white;
  }
  .input_wrapper {
    @apply flex flex-col p-2 mb-2 w-72
    border border-solid border-gray-400 rounded-lg;
  }
  .input_label {
    @apply text-xs font-light mb-1;
  }
  .input_btn {
    @apply w-72 h-14 my-8 cursor-pointer 
    border border-red-300 border-solid rounded-md bg-red-300
    text-white font-semibold tracking-wider  
    outline-none focus:outline-none;
  }
  .input_price {
    @apply flex flex-col p-2 mb-2 w-32
    border border-solid border-gray-400 rounded-lg;
  }
  .input_qty {
    @apply flex flex-col p-2 mb-2 w-24
    border border-solid border-gray-400 rounded-lg;
  }
  .customeBtn {
    @apply w-36 h-12 text-xs font-normal
    border border-solid cursor-pointer
    flex justify-center items-center;
  }

  /* product */
  .product {
    @apply relative w-52 h-80;
  }
  .product_img {
    @apply w-full h-80;
  }
  .product_btn {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    @apply absolute w-full h-80 top-0 left-0
    opacity-0 hover:opacity-100 pt-60 px-8;
  }
  .product_detail {
    @apply flex justify-between mx-48 mt-48;
  }
  .productImg {
    @apply w-52;
  }

  .hoverShopImg {
    @apply relative w-auto h-auto;
  }
}
